<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        versionCode="102"
        id        = "com.redup.skrumply"
        >

    <!-- versionCode is optional and Android only -->

    <name>Redup</name>

    <description>
        Determine which platform the Red Line to Alewife will be at next.
    </description>

    <author href="https://skrumply.com/apps" email="crabrock@gmail.com">
        Brian B. Griffiths
    </author>
	<access origin="http://skrumply.com/apps/*" />
	<access origin="http://developer.mbta.com/lib/rthr/red.json" />
	<preference name="permissions" value="none"/>
	<preference name="splash-screen-duration" value="1"/>

</widget>
